

.addbtn {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

.container{
	left:0;
	right:0;
}

.navbar-fixed-top{
	background-color: lightgrey;
	margin-top: 0;
	padding:0;
}

.header_border{
	border-bottom-style:hidden;
	border: 4px solid black;
	margin-bottom:0;
}

.textoPrincipal{
	font-size:40px;
}

.border{
	border-left: 4px solid black !important;
}

.main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

.burger{
	position:fixed !important;
	left:2px;
}


